/* リセット */
* {
  box-sizing:border-box;
  margin:0;
  padding:0;
}

body {
  -webkit-font-smoothing:antialiased;

  color:var(--bs-gray-700);

  body {
    font-family:"Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  }
}
a {
  text-decoration:none;
}

// !TEST: all-layout
// .col, div[class*="col-"] {
//   border:1px solid rgba(0, 128, 128, .1);
//   background-color:rgba(#fcfcfc, .1);
// }
