// フォントデザイニング
h1 >a, header, nav, h2, .main-visual, footer {
  font-family:"Quicksand", sans-serif;
}

// header {
//   position:relative;
//   width:90%;
//   /* 横幅90% */
//   margin:0 auto;
//   padding:15px 0;

//   text-align:center;
// }

.social i {
  display:inline-block;
  margin-left:20px;
}

.social {
  // position:absolute;
  top:22px;
  right:22px;
}

header .heading {
  /* headerタグ内のheadingクラスにのみ反映される */
  font-size:32px;
}

.nav-list {
  margin:0 auto;
  padding:10px 0;

  text-align:center;
}

.nav-list-item {
  display:inline-block;
  margin:0 20px;

  list-style:none;
}
