// フォントデザイニング
h1 >a, header, nav, h2, footer {
  font-family:"Quicksand", sans-serif;
}

h1 {
  font-size:calc(1.25em + 1.5vw);

  a {
    // color:var(--text-color);
    color:var(--bs-gray-900);
  }
}

// icons
.social i {
  display:inline-block;
  margin-left:20px;
}

// Nav
.nav-item {
  padding:0 1rem;

  font-size:1.05rem;

  a:not(.active) {
    color:currentColor;
  }
}
