// フォントデザイニング
h1 >a, header, nav, h2, footer {
  color:var(--bs-gray-800);

  font-family:"Quicksand", sans-serif;
}

h1 {
  padding:1rem 0 .5rem;

  font-size:calc(1.5em + 1.2vw);

  a {
    color:var(--bs-gray-900);
  }
}

// icons
.social i {
  display:inline-block;
  margin-left:20px;

  font-size:1rem;
}

// Nav
.nav {
  .nav-item {
    padding:0 1rem;

    font-size:1.1rem;
    font-weight:700;

    a:not(.active) {
      color:currentColor;
    }
  }
}
