.pagination {
  padding-top:50px;

  text-align:center;
}
.pagination p {
  display:inline-block;
  width:30px;
  height:30px;
  margin:0 5px;

  color:#fff;
  border-radius:3px;
  background-color:#acabab;

  line-height:30px;
}
