.pagination {
  margin-bottom:50px;
  padding-top:30px;
}
.pagination p {
  display:inline-block;
  width:30px;
  height:30px;
  margin:0 5px;

  text-align:center;

  color:var(--bs-white);
  border-radius:3px;
  background-color:#acabab;

  font-size:85%;
  line-height:30px;
  .fas {
    margin:0 -1px;

    letter-spacing:.1px;

    color:var(--bs-white);

    font-size:12px;
  }
}
